{% extends 'base.html' %}
{% block title %}Sports App{% endblock %}
{% block content %}

<div>
    <h1>Pick a favorite sport.</h1>
</div>

<div class='pick-dropdown'>
<form method='POST'>
    {{ form.hidden_tag() }}

    {{ form.sport.label }}
    {{ form.sport }}

    {{ form.sportName }}
    <button class="btn btn-success btn-sm" id="addSport">Add Sport</button>
    <button class="btn" id="addLeague" style="display: hidden;"></button>
    <button class="btn" id="saveNote" style="display: hidden;"></button>
</form>
</div>
{% endblock %}
